<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Pebble.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>55D092E81BAD0DDA001156FC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>55D093011BAD0DDB001156FC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>55D0930C1BAD0DDB001156FC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
